.footer {
    padding-top: 80px;
}

.footer__text {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
}

.footer__certificate {
    margin-bottom: 60px;
    font-size: 12px;
    line-height: 18px;
}
