.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;

    @include desktop_1366 {
        height: 136px;
    }

    @include tablets_1024 {
        height: auto;
        min-height: 80px;
        padding: 20px 0;
    }
}

.menu__left {
    display: flex;
    align-items: center;
}

.menu__logo {
    margin-right: 50px;

    //@include tablets_950 {
    //    margin-right: 20px;
    //}

    @include phones__480 {
        margin-right: 10px;
    }
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    height: 100%;

    @include desktop_1366 {
        flex-direction: column;
        align-items: flex-start;
    }

    //@include phones__768 {
    //    position: absolute;
    //    top: 92px;
    //    left: 0;
    //    background: linear-gradient(90deg, #F1EDE6 0%, #FAF8F3 100%);
    //    width: 100%;
    //    height: auto;
    //}

    &--desktop {
        @include desktop_1366 {
            display: none;
        }
    }
}

.menu__box {
    display: none;

    @include desktop_1366 {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }

    //@include tablets_950 {
    //    display: none;
    //    position: absolute;
    //    top: 100px;
    //    left: 0;
    //    z-index: 10;
    //    width: 100%;
    //    background-color: #ffffff;
    //}
}

.menu__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 60px;

    @include tablets_1024 {
        margin-left: 10px;
    }
}

.menu__item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 5px;
    transition: 0.5s;

    &.active {
        background-color: #ffffff;
    }

    @include desktop_1366 {
        margin-bottom: 12px;
    }

    @include tablets_1024 {
        display: block;
        height: auto;
    }

    &:first-child {

        @include phones__768 {
            padding-top: 10px;
        }
    }

    &:last-child {

        @include desktop_1366 {
            margin-bottom: 0;
        }

        @include phones__768 {
            padding-bottom: 10px;
        }
    }
}

.menu__item ul[class] {
    display: none;
    position: absolute;
    top: 90px;
    left: 0;
    min-width: 292px;
    padding: 12px;
    border: 2px solid #C3B1A5;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
    z-index: 10;

    &:before {
        @include pseudo;
        top: -12px;
        left: 20px;
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border-right: 2px solid #C3B1A5;
        border-top: 2px solid #C3B1A5;
        transform: rotate(-45deg);
    }

    @include tablets_1024 {
        position: relative;
        top: auto;
        left: auto;
    }
}

.menu__subitem {
    padding-bottom: 8px;

    & a {
        font-size: 16px;
        line-height: 24px;
    }
}

.menu__subitem:not(:last-child) {
    margin-bottom: 8px;
    border-bottom: 1px solid #F7F4ED;
}

.menu__link {
    display: flex;
    align-items: center;
    font-family: $font-second;
    font-size: 14px;
    line-height: 21px;
    color: $c-text-main;
    text-decoration: none;
    transition: 0.5s;

    &:hover {
        color: $c-link-hover;

        @include tablets_1024 {
            color: $c-text-main;
        }
    }

    @media screen and (max-width: 1445px) {
        font-size: 12px;
        line-height: 18px;
    }

    @include desktop_1366 {
        font-size: 14px;
        line-height: 21px;
    }

    @include tablets_1024 {
        justify-content: center;
    }

    &.active {
        color: $c-link-main;
    }
}

.menu__articles {
    font-family: $font-second;
    margin-right: 60px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: $c-link-main;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        opacity: 0.5;
    }

    .icon-user {
        display: block;
    }

    @include desktop_1366 {
        margin-right: 20px;
    }
}

.menu__languages {
    display: flex;
    border: 1px solid #8D848A
}

.menu__language {
    padding: 5px;
    font-family: $font-second;
    font-size: 14px;
    line-height: 18px;
    color: $c-text-main;
    text-decoration: none;
    transition: 0.5s;

    &.active {
        color: #ffffff;
        background-color: #8D848A;
    }

    &:hover {
        color: #ffffff;
        background-color: #8D848A;
    }
}

.menu__arrow {
    display: block;
    width: 8px;
    height: 8px;
    margin-left: 8px;
    border-right: 1px solid $c-border;
    border-bottom: 1px solid $c-border;
    transform: rotate(45deg);
}
